{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign In" %}{% endblock head_title %}

{% block content %}
<div class="text-center">
  <p>
  {% if messages %}
    <ul class="message-class">
        {% for message in messages %}
            <li{% if message.tags %} class=" {{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
  </p>
  <p>{% blocktrans %}If you have not created an account yet, then please
  <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>

  <form class="login" method="POST" action="{% url 'account_login' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="primaryAction button" type="submit">{% trans "Sign In" %}</button>
  </form>
</div>

{% endblock content %}
