{% extends 'base.html' %} 
{% block content %}
{% load crispy_forms_tags %}

<div class="row">
    <div class="col-12 col-md-6">
        <div class="aspect-ratio">
            <image src="https://placehold.co/600x600">
        </div>
    </div>
    <div class="col-12 col-md-6"> 
        <div class="row">
            <div class="col-12">
                <h1>{{ event.name }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p>{{ event.excerpt }}</p>
            </div>
        </div>
        
    </div>
</div>

<div class="row">
    <div class="col-6">
        <table>
            <tr>
                <td>Creator</td>
                <td>{{ event.creator }}</td>
            </tr>
            <tr>
                <td>Date and time</td>
                <td>{{ event.date }} | {{ event.time }}</td>
            </tr>
            <tr>
                <td>Location</td>
                <td>{{ event.location }}</td>
            </tr>
            <tr>
                <td>Course</td>
                <td>{{ event.course }}</td>
            </tr>
            <tr>
                <td>Interest</td>
                <td>{{ event.interest }}</td>
            </tr>
        </table>
    </div>
    <div class="col-6">
        {{ event.attending }}<br>
    </div>
</div>
<!-- Include event_form here -->
<div class="justify-content-center">
    <div class="col-6 newEventDiv">
        <h2>Create Your Review</h2>
        <form id="reviewForm" method="post"
                    style="margin-top: 1.3em;">
        {{ review_form | crispy }}
        {% csrf_token %}
        <button id="submitButton" type="submit"
            class="btn btn-signup btn-lg">Submit</button>
        </form>
    </div>
</div>
{% endblock content %}