{% extends 'base.html' %} 
{% block content %}
{% load crispy_forms_tags %}
{% load static %}

<div class="row">
    <div class="col-12 col-md-6">
        <div class="aspect-ratio">
            {% if "placeholder" in event.photo.url %}
                <img class="event_image" src="{% static 'images/default.webp' %}"
                    alt="placeholder image">
            {% else %}
                <img class="event_image" src="{{ event.photo.url }}"
                    alt="{{ event.name }}">
            {% endif %}
        </div>
    </div>
    <div class="col-12 col-md-6"> 
        <div class="row">
            <div class="col-12">
                <p class="counter float-end {% if event.attending.count == event.max_capacity  %}
                    red-text{% else  %} green-text{% endif %}"><i class="fa-solid fa-person"></i> {{ event.attending.count }} / {{ event.max_capacity }} </p>
                <h1>{{ event.name }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p>{{ event.excerpt }}</p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <table>
            <tr>
                <td>Creator</td>
                <td>{{ event.creator }}</td>
            </tr>
            <tr>
                <td>Date and time</td>
                <td>{{ event.date }} | {{ event.time }}</td>
            </tr>
            <tr>
                <td>Location</td>
                <td>{{ event.location }}</td>
            </tr>
            <tr>
                <td>Course</td>
                <td>{{ event.course }}</td>
            </tr>
            <tr>
                <td>Interest</td>
                <td>{{ event.interest }}</td>
            </tr>
        </table>
    </div>
    <div class="col-6">
        
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-6">
        <h2>Comments</h2>
        {% for review in reviews %}
                <section class="comment-section m-1 p-2">
                    <div class="row">
                        <div class="col-12">
                            <p class="float-start">{% if review.has_attended == True %} <i class="fa-solid fa-check" style="color: #0fca18;"></i> {% else %} <i class="fa-solid fa-xmark" style="color: #d82c2c;"></i> {% endif %} attended</p>
                            <p class="float-end"><i class="fa-solid fa-user"></i> {{ review.author }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <p id="review{{ review.id }}">{{ review.body}}<p>
                            <p class="float-start">
                            {% for counter in "x"|rjust:review.rating %}
                            <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                            {% endfor %}
                            </p>
                            <p class="float-end">
                                {% if review.author == user%}
                                <button class="btn btn-edit"><i id="edit_{{review.id}}" class="fa-regular fa-pen-to-square"></i></button>
                                <button class="delete-btn"><i id="{{review.id}}" class="fa-solid fa-trash-can" style="color: #e0141a;"></i></button>
                                    {% endif %}</p>
                        </div>
                    </div>
                </section>
        {% endfor %}
    </div>
    <div class="col-12 col-md-6">
        <div class="">
            <h2 class="text-center">Create Your Review</h2>
            <form id="reviewForm" method="post"
                        style="margin-top: 1.3em;">
            {% csrf_token %}
            {{ review_form | crispy }}
            <button id="submitButton" type="submit"
                class="button" {% if user.is_authenticated%} {% else %} disabled {% endif %}>Submit</button>
            </form>
        </div>
    </div>
</div>

<!-- Delete confirmation modal -->
<div class="modal fade" data-bs-backdrop="false" id="delete_Modal" tabindex="-1"
aria-labelledby="deleteModalLabel" data-bs-toggle="modal" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title"
        id="deleteModalLabel">Delete comment?</h5>
        <button type="button" class="btn-close"
        data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        Are you sure you want to delete your comment?
        This action cannot be undone.
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary"
        data-bs-dismiss="modal">Close</button>
        <a id="deleteConfirm" href="#" class="btn
        btn-danger">Delete</a>
    </div>
    </div>
</div>
</div>

{% endblock content %}