{% extends 'base.html' %} 
{% block content %}
{% load static %}
{% load crispy_forms_tags %}

<!-- Include event_form here -->
<div class="justify-content-center">
    <div class="col-6 newEventDiv">
        <h2>Create Your Student Profile</h2>
        <form id="studentForm" method="post"
                    style="margin-top: 1.3em;">
        {{ student_form | crispy }}
        {% csrf_token %}
        <button id="submitButton" type="submit"
            class="button">Submit</button>
        </form>
    </div>
</div>



{% endblock content %}