{% extends 'base.html' %} 
{% block content %}
{% load static %}
{% load crispy_forms_tags %}

<!-- Include event_form here -->
<div class="justify-content-center text-center">
    <div class="row">
        <h1 class="text-center">{{ profile.firstname }} {{ profile.lastname }}</h1>
        <div class="col-12 col-lg-4">
            <div class="aspect-ratio-vert">
                {% if profile.photo_url == "" %}
                    <img class="profile-image" src="{% static 'images/nobody.jpg' %}"
                        alt="placeholder image">
                {% else %}
                    <img class="profile-image" src="{{ profile.photo_url }}"
                        alt="{{ profile.name }}">
                {% endif %}
            </div>
        </div>
        <div class="col-12 col-lg-8">
            <div class="row">
                <div class="col-12 text-center d-flex justify-content-center">
                    <div>
                        <h3>Bio</h3>
                        <p>{{ profile.bio }}</p>
                    </div>
                </div>
            </div>
            <div class="row d-none">
                <div class="col-12">
                    <button id="userProfile_edit" class="button"><i class="fa-solid fa-pencil"></i> edit</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-12">
            <a href="{% url 'user_events' %}">
                <h2>Your Events</h2>
            </a>
        </div>
    </div>
</div>


{% endblock content %}