{% extends 'base.html' %} 
{% block content %}
{% load static %}
{% load crispy_forms_tags %}
{% load cloudinary %}
{% url 'non_student' as non_student_url %}
{% url 'upload_image' as image_upload_url %}

{% if user.is_authenticated and is_student %}
<!-- Show events created by currently logged-in user -->
<h1>{{ request.user }}'s Events</h1>
<p>You have created {{ events_queryset|length }} events</p>
{% for event in events_queryset %}
<h2>{{ event.name }}</h2>
{% cloudinary event.photo format="png" width=120 height=80 crop="fill" %}
{% if "placeholder" in event.photo.url %}
<img class="event_image" src="static/images/default.webp"
    alt="placeholder image">
{% else %}
<img class="event_image" src=" {{ event.photo.url }}"
    alt="{{ event.name }}">
{% endif %}
<h3>{{ event.location }}</h3>
<h4>{{ event.date }} | {{ event.time }}</h4>
<p>{{ event.creator }}</p>
{% endfor %}
<h2>Try uploading an image here:</h2>
<a href="{% url 'upload_image' %}">Upload image</a>
<!-- Include event_form here -->
<div class="justify-content-center">
    <div class="col-6 newEventDiv">
        <h2>Create a new Event</h2>
        <form id="eventForm" method="post"
                    style="margin-top: 1.3em;">
        {{ event_form | crispy }}
        {% csrf_token %}
        <button class="button" id="submitButton" type="submit"
            class="btn btn-signup btn-lg">Submit</button>
        </form>
    </div>
</div>
{% elif not user.is_authenticated %}
<p class="create_profile_warning">You need to register and create a student profile to access your events</p>
<form action="{% url 'redirect_to_signup' %}" method="POST">
    {% csrf_token %}
    <button type="submit" name="new_user" class="btn btn-info">Register</button>
</form>
<!-- Registered users must also have a student profile -->
{% elif not is_student %}
<p>You are logged in as {{user.username}}.</p>
<p class="create_profile_warning">You need to create a student profile to access your events</p>
<form action="{% url 'non_student' %}" method="POST">
    {% csrf_token %}
    <button type="submit" name="new_student" value="{{ user.username }}" class="btn btn-info">Create Profile</button>
</form>
{% endif %}

{% endblock content %}