{% extends 'base.html' %} 
{% block content %}
{% load static %}
{% load crispy_forms_tags %}

<!-- Show events created by currently logged-in user -->
<h1>{{ request.user }}'s Events</h1>
<p>You have created {{ events_queryset|length }} events</p>
{% for event in events_queryset %}
<h2>{{ event.name }}</h2>
<h3>{{ event.location }}</h3>
<h4>{{ event.date }} | {{ event.time }}</h4>
<p>{{ event.creator }}</p>
{% endfor %}

<!-- Include event_form here -->
<div class="justify-content-center">
    <div class="col-6 newEventDiv">
        <h2>Create a new Event</h2>
        <form id="eventForm" method="post"
                    style="margin-top: 1.3em;">
        {{ event_form | crispy }}
        {% csrf_token %}
        <button id="submitButton" type="submit"
            class="btn btn-signup btn-lg">Submit</button>
        </form>
    </div>
</div>

{% endblock content %}