{% extends 'base.html' %} 
{% block content %}
{% load static %}
{% load crispy_forms_tags %}
{% url 'non_student' as non_student_url %}
{% url 'upload_image' as image_upload_url %}

{% if user.is_authenticated and is_student %}
<!-- Show events created by currently logged-in user -->
<h1>{{ request.user }}'s Events</h1>
<p>You have created {{ events_queryset|length }} events</p>
{% for event in events_queryset %}
<h2>{{ event.name }}</h2>
<h3>{{ event.location }}</h3>
<h4>{{ event.date }} | {{ event.time }}</h4>
<p>{{ event.creator }}</p>
{% endfor %}
<!-- Include event_form here -->
<div class="justify-content-center">
    <div class="col-6 newEventDiv">
        <h2>Create a new Event</h2>
        <form id="eventForm" method="post"
                    style="margin-top: 1.3em;">
        {{ event_form | crispy }}
        {% csrf_token %}
        <button class="button" id="submitButton" type="submit"
            class="button">Submit</button>
        </form>
    </div>
    <div class="d-none" id="photo_url"></div>
</div>
{% elif not user.is_authenticated %}
<p class="create_profile_warning">You need to register and create a student profile to access your events</p>
<form action="{% url 'redirect_to_signup' %}" method="POST">
    {% csrf_token %}
    <button type="submit" name="new_user" class="button">Register</button>
</form>
<!-- Registered users must also have a student profile -->
{% elif not is_student %}
<p>You are logged in as {{user.username}}.</p>
<p class="create_profile_warning">You need to create a student profile to access your events</p>
<form action="{% url 'non_student' %}" method="POST">
    {% csrf_token %}
    <button type="submit" name="new_student" value="{{ user.username }}" class="button">Create Profile</button>
</form>
{% endif %}

<button id="upload_widget" class="cloudinary-button">Upload files</button>

<script src="https://upload-widget.cloudinary.com/global/all.js" type="text/javascript"></script>  

<script type="text/javascript">  
function populateWithURL(image_url){
    urlContainer = document.getElementById("photo_url")
    urlContainer.innerText = image_url
}
var myWidget = cloudinary.createUploadWidget({
  cloudName: 'ddfqaz73q', 
  uploadPreset: 'vaxtqmwz'}, (error, result) => { 
    if (!error && result && result.event === "success") { 
      console.log('Done! Here is the image info: ', result.info);
      populateWithURL(result.info.url) 
    }
  }
)

document.getElementById("upload_widget").addEventListener("click", function(){
    myWidget.open();
  }, false);
</script>

{% endblock content %}