
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Fonts */
@font-face {
    font-family: IntroRust;
    src: url(../fonts/introrustg-base2line.otf);
}

:root{
    --primary: #012765;
    --secondary: #003FA5;
    --accent: #D30CD5;
    --dark: #010100;
    --light: #F8FFF4;

    --bs-body-font-family: poppins, sans-serif;
}

/* Stlying for the title and name of the website */
#appname {
    height: 100%;
    width: 100%;
    font-family: IntroRust;
    font-size: clamp(1rem, 4rem, 10rem);
    color: var(--secondary);
    text-shadow: 3px 3px var(--light);
    text-transform: uppercase;
    font-weight: 100;
  }

.container{
    background-color: var(--light);
    opacity: 0.9;
}

.aspect-ratio {
    position: relative;
    width: 100%;
    /* Adjust the desired aspect ratio by changing the padding-bottom value */
    padding-bottom: 56.25%; /* For a 4:3 aspect ratio, use 75% (3/4) */
    overflow: hidden;
}

.aspect-ratio-vert{
  position: relative;
    width: 100%;
    padding-bottom: 90%; 
    overflow: hidden;
}

.aspect-ratio-vert img,
.aspect-ratio img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

body{
    background-image: url("../images/school.webp");    
}

li{ 
  list-style: none;
}

main{
  min-height:calc(100svh - 230px);
}

.event-section{
    border: solid 0.25rem #010100;
}

.comment-section{
  border: solid 0.25rem #010100;
}

.counter{
  font-size:2rem;
  font-weight: 500;
}

/* text-colors */
.green-text{
  color:green;
}

.red-text{
  color:red;
}

/* CSS */
.button {
  backface-visibility: hidden;
  background: var(--primary);
  border: 0;
  border-radius: .375rem;
  box-sizing: border-box;
  color: var(--light);
  cursor: pointer;
  display: inline-block;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: -.01em;
  line-height: 1.3;
  padding: 1rem 1.25rem;
  position: relative;
  text-align: left;
  text-decoration: none;
  transform: translateZ(0) scale(1);
  transition: transform .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  &:disabled {
    color: var(--light);
    background-color: grey;
    cursor: auto;
  }

  &:not(:disabled):hover {
    transform: scale(1.05);
  }

  &:not(:disabled):hover:active {
    transform: scale(1.05) translateY(.125rem);
  }

  &:focus {
    outline: 0 solid transparent;
  }

  &:focus:before {
    border-width: .125rem;
    content: "";
    left: calc(-1*.375rem);
    pointer-events: none;
    position: absolute;
    top: calc(-1*.375rem);
    transition: border-radius;
    user-select: none;
  }

  &:focus:not(:focus-visible) {
    outline: 0 solid transparent;
  }

  &:not(:disabled):active {
    transform: translateY(.125rem);
  }
}
  /* Navbar styling  credit to https://codepen.io/ettrics/pen/WRbGRN*/
.navbar-tabs-container {
    width: 100%;
    background: var(--light);
}
    
.navbar-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: #010100;
    font-weight: bold;
    letter-spacing: 0.1rem;
    transition: all 0.5s ease;
    font-size: 2rem;
    height: 10vh;
      &:hover {
          color:var(--light);
          background: var(--accent);
          transition: all 0.5s ease;
    }
}

/* Footer Styling */
@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
footer {
    background-color: var(--primary);
	margin: 0;
	font-weight: 800;

  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

#foot-nav {
  float: right;
}

nav ul {
  margin: 0px;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 10px;
  padding-bottom: 10px;

  position: relative;
}

nav a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;

  &:hover {
    color: var(--accent);
  }

  &::before {
    content: '';
    display: block;
    height: 5px;
    background-color: var(--accent); 
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
  }

  &:hover::before {
    width: 100%;
  }
}


.errorlist{
  color:red;
}
